.*
!.gitignore
target
*.class
*.jar
*.log
pom.xml.versionsBackup
.project
.classpath
.settings 
.vscode
.idea
target
node_modules
webapp
dist
tmp
maven-release*
release.properties
/pom.xml.releaseBackup
